{{define "base"}}
<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <title>{{template "title" .}} - Snippetbox</title>
    <link rel='stylesheet' href='/static/css/main.css'>
    <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
</head>
<body>
<header>
    <h1><a href='/'>Snippetbox</a></h1>
</header>
<nav>
    <a href='/'>Home</a>
    <a href='/snippet/create'>Create snippet</a>
</nav>
<main>
    {{with .Flash}}
    <div class='flash '>{{.}}</div>
    {{end}}
    {{template "main" .}}
</main>

{{template "footer" .}}
<script src="/static/js/main.js" type="text/javascript"></script>
</body>
</html>
{{end}}
